.jumbotron {
    background-image: url("../images/oldtrain.jpg");
    background-size: cover;
    min-height: 450px;
}

h1 {
    color: #fff !important;
    text-shadow: 2px 2px 0 #3e2e97, 4px 6px 5px #473e5a;
}

#trainTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#trainTable td,
#trainTable th {
    border: 1px solid #ddd;
    padding: 10px;
}

#trainTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#trainTable tr:hover {
    background-color: #ddd;
}

#trainTable th {
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #196454;
    color: white;
}

.min {
    text-align: center;
}

#trainTable #times {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #196454;
    border-color: #196454;
}